<!-- <p>{{ switchCondition }}</p> -->

<div class="container">
  <div class="row">
    <select class="browser-default custom-select" id="selectID" [(ngModel)]="switchCondition">
      <option value="0">Please select a condition</option>
      <option value="1">Cond1</option>
      <option value="2">Cond2</option>
      <option value="3">Cond3</option>
    </select>
  </div>
  <div class="row">

    <ng-container [ngSwitch]="switchCondition">
      <ng-container *ngSwitchCase="switchConditionEnum.Cond1">
        <p>Cond1</p>
      </ng-container>
      <ng-container *ngSwitchCase="switchConditionEnum.Cond2">
        <p>Cond2</p>
      </ng-container>
      <ng-container *ngSwitchCase="switchConditionEnum.Cond3">
        <p>Cond3</p>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <p>None</p>
      </ng-container>
    </ng-container>
  </div>
</div>