<div class="container">
  <div class="row">
    <div class="col-md">
      Component Types

      <!-- <div>
        <app-projects></app-projects>
      </div>

      <div app-attribute-sample>
        <span>Attribute Typed Selector !-- Not rendering</span>
      </div>

      <div class="app-class-sample">
        <span>Class Typed Selector !-- Not rendering</span>
      </div> -->

      <!-- Binding -->

      <app-string-interpolation></app-string-interpolation>

      <!-- <app-property-binding></app-property-binding> -->

      <!-- Event Binding -->

      <!-- <app-event-binding></app-event-binding> -->

      <!-- Two Way Data Binding -->

      <!-- <app-two-way-binding></app-two-way-binding> -->

      <!-- *ngIf ng-template #localRef -->

      <!-- <app-ng-if-test></app-ng-if-test> -->

      <!-- *ngSwitch ngSwitchCase ng-template #localRef -->
      <!-- <app-ng-switch></app-ng-switch> -->

      <!-- ngStyle -->

      <!-- <app-ng-style></app-ng-style> -->

      <!-- <app-input-output-sample name= 'Alper' surName = 'Ozel' (innerEvent)= "eventHandler($event)"></app-input-output-sample> -->

    </div>
  </div>
</div>