<div class="container">

  <!-- Component Types
    
    <div class="Projects">
    <app-projects></app-projects>
  </div>

  <div app-attribute-sample>
      <span>Attribute Typed Selector !-- Not rendering</span>
  </div>

  <div class="app-class-sample">
    <span>Class Typed Selector !-- Not rendering</span>
</div> -->

<!-- Binding -->

<!-- <app-string-interpolation></app-string-interpolation> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- Event Binding -->

<app-event-binding></app-event-binding>


</div>

